<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Convite de Casamento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <div class="outer-container">
        <div class="mobile-container">
            <div class="bg-fixed bg-C">C</div>
            <div class="bg-fixed bg-F">F</div>
            <div class="content">
                {% block content %}{% endblock %}
                {% block nav %}{% endblock %}
            </div>
        </div>

        {% block scripts %}{% endblock %}
        <footer>
            <p>&copy; 2026 - Juntos para sempre</p>
        </footer>
        <script>
            feather.replace()
        </script>
    </div>
</body>
</html>